

.summary-card-content {
  font-size: large;
  height: 341px;

  strong {
    width: 15rem;
  }

  .summary-number {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
}

.summary-card-content2 {
  font-size: large;
  height: 295px;

  strong {
    width: 15rem;
  }

  .summary-number {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
}

.summary-card-content3 {
  font-size: large;
  height: 295px;

  strong {
    width: 15rem;
  }

  .summary-number {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
}

.graph-card {
  position: absolute;
  top: 140px;
  width: 472px;
  right: 0px;
  z-index: 2;
}

.bug-chart-1 {
  position: absolute;
  margin-top: -360px;
  right: 0;
  z-index: 2;
}

.bug-chart-2 {
  position: absolute;
  margin-top: -360px;
  right: 0;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  margin: 2rem;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
  display: block;
}

mat-card {
  margin-top: 20px;
  border-top: 1px solid black;
}