<ng-container *ngIf="picker.currentSprint">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Summary
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="summary-card-content" *ngIf="picker.currentSprint">
      <mat-list role="list">
        <!--mat-list-item role="listitem"><strong>Total of Stories:</strong> <label
            class="summary-number">{{picker.currentDev.summary.totalStories}}</label></mat-list-item>
        <mat-divider></mat-divider-->
        <mat-list-item role="listitem"><strong>Total stories developed:</strong> <label
          class="summary-number">{{picker.currentSprint.summary.totalStoriesDone}}</label></mat-list-item>
      <mat-divider></mat-divider>
        <mat-list-item role="listitem"><strong>Total of Bugs Created:</strong> <label
            class="summary-number">{{picker.currentSprint.summary.totalBugsCreated}}</label></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><strong>Total of Bugs Generated:</strong> <label
          class="summary-number">{{picker.currentSprint.summary.totalBugsGenerated}}</label></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="dashboard-card graph-card">
    <mat-card-content>
      <app-summary-line-chart></app-summary-line-chart>
    </mat-card-content>
  </mat-card>
  
  <mat-accordion>
    <mat-expansion-panel *ngIf="picker.currentSprint" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Time tracks
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <table mat-table [dataSource]="picker.currentSprint.timeTracks" matSort #matSort1 class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
          <td mat-cell *matCellDef="let element"> <a [href]="'https://atriawealth.atlassian.net/browse/' + element.key" target="_blank">{{element.key}}</a> </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
          <td mat-cell *matCellDef="let element">  <span class="truncate-text" title="{{element.summary}}"> {{element.summary}} </span> </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="dev">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dev </th>
          <td mat-cell *matCellDef="let element">  <span class="truncate-text" title="{{element.dev}}"> {{element.dev}} </span> </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="timeH">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracked hours </th>
          <td mat-cell *matCellDef="let element"> {{element.timeH}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['key','summary','type','dev','timeH']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['key','summary','type','dev','timeH']"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
    
  <!-- --------------------------------------------------- BUGS CREATED ---------------------------------------------------------------- -->
  
  
  <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Bugs Created
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="summary-card-content2" *ngIf="picker.currentSprint">
        <mat-list role="list">
          <!--mat-list-item role="listitem"><strong>Total of Stories:</strong> <label
              class="summary-number">{{picker.currentDev.summary.totalStories}}</label></mat-list-item>
          <mat-divider></mat-divider-->
          <mat-list-item role="listitem"><strong>Total bugs created:</strong> <label
            class="summary-number">{{picker.currentSprint.bugsCreated.total}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Valid bugs created:</strong> <label
            class="summary-number">{{picker.currentSprint.bugsCreated.totalValid}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Invalid bugs created:</strong> <label
            class="summary-number">{{picker.currentSprint.bugsCreated.totalInvalid}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Uncategorized bugs created:</strong> <label
            class="summary-number">{{picker.currentSprint.bugsCreated.totalOther}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card bug-chart-1">
      <mat-card-content>
        <app-summary-bug-chart></app-summary-bug-chart>
      </mat-card-content>
    </mat-card>
  
    <mat-accordion>
      <mat-expansion-panel *ngIf="picker.currentSprint" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bugs Created
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <table mat-table [dataSource]="picker.currentSprint.bugsCreated.bugs" matSort #matSort1 class="mat-elevation-z8">
    
          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
    
          <!-- Position Column -->
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> <a [href]="'https://atriawealth.atlassian.net/browse/' + element.key" target="_blank">{{element.key}}</a> </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
            <td mat-cell *matCellDef="let element">  <span class="truncate-text" title="{{element.summary}}"> {{element.summary}} </span> </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="reviewStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.reviewStatus}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="['key','summary','reviewStatus']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['key','summary','reviewStatus']"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  
  <!-- --------------------------------------------------- BUGS GENERATED ---------------------------------------------------------------- -->
  
  
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Bugs Generated
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="summary-card-content3" *ngIf="picker.currentSprint">
      <mat-list role="list">
        <!--mat-list-item role="listitem"><strong>Total of Stories:</strong> <label
            class="summary-number">{{picker.currentDev.summary.totalStories}}</label></mat-list-item>
        <mat-divider></mat-divider-->
        <mat-list-item role="listitem"><strong>Total bugs generated:</strong> <label
          class="summary-number">{{picker.currentSprint.bugsGenerated.total}}</label>
        </mat-list-item>
        <mat-list-item role="listitem"><strong>Total valid bugs generated:</strong> <label
          class="summary-number">{{picker.currentSprint.bugsGenerated.totalValid}}</label>
        </mat-list-item>
        <mat-list-item role="listitem"><strong>Total invalid bugs generated:</strong> <label
          class="summary-number">{{picker.currentSprint.bugsGenerated.totalInvalid}}</label>
        </mat-list-item>
        <mat-list-item role="listitem"><strong>Total uncategorized bugs generated:</strong> <label
          class="summary-number">{{picker.currentSprint.bugsGenerated.totalOther}}</label>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="dashboard-card bug-chart-2">
    <mat-card-content>
      <app-summary-generated-bug-chart></app-summary-generated-bug-chart>
    </mat-card-content>
  </mat-card>
  
  <mat-accordion>
    <mat-expansion-panel *ngIf="picker.currentSprint" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bugs Generated
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <table mat-table [dataSource]="picker.currentSprint.bugsGenerated.bugs" matSort #matSort1 class="mat-elevation-z8">
  
        <ng-container matColumnDef="story.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Story Id. </th>
          <td mat-cell *matCellDef="let element"> <a [href]="'https://atriawealth.atlassian.net/browse/' + element.story.key" target="_blank">{{element.story.key}}</a> </td>
        </ng-container>
  
        <ng-container matColumnDef="story.summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Story Summary </th>
          <td mat-cell *matCellDef="let element">  <span class="truncate-text" title="{{element.story.summary}}"> {{element.story.summary}} </span> </td>
        </ng-container>
  
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
          <td mat-cell *matCellDef="let element"> <a [href]="'https://atriawealth.atlassian.net/browse/' + element.key" target="_blank">{{element.key}}</a> </td>
        </ng-container>
  
        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
          <td mat-cell *matCellDef="let element">  <span class="truncate-text" title="{{element.summary}}"> {{element.summary}} </span> </td>
        </ng-container>

        <ng-container matColumnDef="reviewStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.reviewStatus}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['story.key','story.summary','key','summary','reviewStatus']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['story.key','story.summary','key','summary','reviewStatus']"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  
  
</ng-container>
